@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.box{
    position: relative;
    padding-top:2%;
}
.boxx{ 
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit,15rem);
    justify-content: center;  
    margin-top: 3vw;
    padding-bottom: 3vw;
}
h1{
    color: wheat;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 2vw;
    color:wheat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.box input{
    width: 20vw;
    margin:1.5vw;
    height: 4vw;
    background-color: rgba(212, 235, 235, 0.356);
    border: none;
    padding: .2rem 1rem;
    color: wheat;
    font-size: 1vw;
    border-radius: 50px;
}
.box input::placeholder{
    text-transform: capitalize;
    color:beige;
}
hr{
    width: 50vw;
}
.box button{
    width: 60px;
    color:beige;
    background-color: rgba(212, 235, 235, 0.356);
    height: 3vw;
    border-radius: 50px;
    border: none;
}
.box button:hover{
    cursor: pointer;
}
@media all and (max-width:650px){
    p{
        font-size: 3.5vw;
    }
    .box button{
        width:55px;
        height: 25px;
    }
    input::placeholder{
        font-size: 1.3vw;
    }
    .box input{
        height: 30px;
        font-size: 2vw;
    }
}
@media all and (max-width:430px){
   .box input{
    width: 30vw;
   }
   input::placeholder{
    font-size: 1.8vw;
}
}
@media all and (max-width:390px){
    .box input{
     width: 35vw;
    }
    input::placeholder{
     font-size: 2vw;
 }
 }